@font-face {
	font-family: 'racing-font';
	src: url('/fonts/sprintura-demo/Sprintura\ Demo.otf');
}

body {
	overflow-x: hidden;
	background-color: #11121d;
	color: #ffffff;
	font-family: 'racing-font';
	text-shadow: #11121d 0px 0px 5px;
	margin-top: 15px;
	margin-bottom: 15px;
}

header {
	font-family: 'racing-font';
	margin-top: 1%;
}

.select {
	background-color: #11121d;
	color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 0;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.form-control {
	background-color: #11121d;
	border: 1px solid #ffffff;
}

.form-control:focus {
	background-color: #11121d;
	border: 1px solid #ffffff;
	box-shadow: none;
}

.nav-button {
	border-radius: 0;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#load-results-btn {
	background-color: #ffffff;
	border: 1px solid #ffffff;
	color: #11121d;
	border-top-left-radius: 0px;
}

#load-results-btn:hover {
	background-color: #ffffffef;
	border: 1px solid #ffffffef;
}

#clear-points-btn {
	background-color: #11121d;
	border: 1px solid #d40000;
	color: #ffffff;
	margin-right: -1px;
}

#clear-points-btn:hover {
	background-color: #d40000;
}

#delete-all-btn {
	background-color: #d40000;
	border: 1px solid #d40000;
	color: #ffffff;
}

#delete-all-btn:hover {
	background-color: #b30000;
	border: 1px solid #b30000;
}

#load-demo-results-btn {
	background-color: #11121d;
	border: 1px solid #d0ff00;
	color: #ffffff;
	margin-right: -1px;
}

#load-demo-results-btn:hover {
	background-color: #d0ff00;
	border: 1px solid #d0ff00;
	color: #11121d;
}

#load-demo-results-btn-2 {
	background-color: #d0ff00;
	border: 1px solid #d0ff00;
	color: #11121d;
}

#load-demo-results-btn-2:hover {
	background-color: #d0ff00e3;
	border: 1px solid #d0ff00e3;
}

#leaderboardDiv {
	width: 100%;
}

#leaderboardCol {
	width: 97.5%;
}

#results {
	width: 100%;
}

.results-container {
	max-height: 100vh;
	overflow-y: auto;
	scrollbar-color: #ffffff #111111;
	scrollbar-width: thin;
	padding-bottom: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 0;
}

.team-results-container {
	max-height: 100vh;
	overflow-y: auto;
	scrollbar-color: #ffffff #1d2033;
	scrollbar-width: thin;
	padding-bottom: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 0;
}

.leaderboard-entry {
	display: flex;
	align-items: center;
	background-color: #1d2033;
	color: #ffffff;
	font-family: 'racing-font';
	font-size: medium;
	border: 0;
	margin: 5px;
	position: relative;
	padding-left: 50px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.col {
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.numberDiv {
	flex: 0 0 40px;
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 100%;
	background: white;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'racing-font';
	border-top-left-radius: 10px;
	border-bottom-left-radius: 0;
	text-shadow: none;
}

.players {
	flex-grow: 3;
	flex-shrink: 1;
	flex-basis: 0;
	text-overflow: clip;
	padding-left: 5px;
	padding-right: 5px;
}

.teams {
	flex-grow: 4;
	flex-shrink: 1;
	flex-basis: 0;
	text-overflow: clip;
	padding-left: 5px;
	padding-right: 5px;
}

@media screen and (max-width: 768px) {
	.navbar {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-left: 10px;
		margin-right: 10px;
	}

	.results-container {
		max-height: 50vh;
	}

	.team-results-container {
		max-height: 50vh;
	}

	#leaderboardCol {
		width: 100%;
	}

	.leaderboard-entry {
		font-size: small;
	}

	.points {
		width: 10%;
	}

	#load-results-btn {
		width: 50%;
	}
}
